@model Persona

@{
    ViewData["Title"] = "Alviter";

    string ConvertirMayusculas(string cadena)
    {
        return cadena.ToUpper();
    }

    string ConvertirMinusculas(string cadena)
    {
        return cadena.ToLower();
    }

    DateTime hoy = DateTime.Now;
    var listaHobbies = new List<string> { "Escuchar Musica", "Leer", "Tocar Bateria", "Jugar Videojuegos" };
}
<div style="background-color: yellow;">
    @hoy.ToString("dd-MM-yyyy hh:mm:ss");
</div>
<h1>Datos Personales</h1>
<br>
<h3>@ConvertirMayusculas(@Model.Nombre)</h3>
<h3>@ConvertirMinusculas(@Model.Apellidos)</h3>
<h3>@Model.Edad</h3>

@if (@Model.Edad > 18)
{
    <strong style="color:green;">Mayor de Edad</strong>
}
else
{
    <strong style="color:red;">Menor de Edad</strong>
}

@if (@Model.Estatus)
{
    <h3 style="color:blue;">Estatus: Activo</h3>
}
else
{
    <h3 style="color:grey;">Estatus: Inactivo</h3>
}

<img src="~/img/@Model.Imagen" style="width: 500px;height: 500px;" />

<h1>Mis hobbies</h1>
<ul>
    @foreach (var hobbie in listaHobbies)
    {
        <li>@hobbie</li>
    }
</ul>

<partial name="_EducacionAlviter" />