@model Persona;
@{
  ViewData["Title"] = "Ulises";
  string ConvertirMayusculas(string cadena)
  {
    return cadena.ToUpper();
  }
  string ConvertirMinusculas(string cadena)
  {
    return cadena.ToLower();
  }
  DateTime hoy = DateTime.Now;
  var listaHobbies = new List<string>() { "Jugar videojuegos", "escuchar música", "ver videos en youtube" };
}
<h1>Datos Personales</h1>
<hr>
<p><strong>Nombre:</strong> @ConvertirMayusculas(@Model.Nombre) @ConvertirMinusculas(@Model.Apellidos)</p>
<br>
<p><strong>Hoy:</strong> @hoy.ToString("dd-MM-yyyy hh:mm:ss")</p>
<br>
<p><strong>Edad:</strong> @Model.Edad años</p>
@if (@Model.Edad >= 18)
{
  <strong style="color: green;">Mayor de edad</strong>
}
else
{
  <strong style="color: red;">Menor de edad</strong>
}
@if (@Model.Estatus)
{
  <strong>Activo</strong>
}
else
{
  <strong>Inactivo</strong>
}
<img src="~/img/@Model.Imagen" alt="">
<br>
<p><strong>Carrera:</strong> IDyGS</p>
<br>
<p><strong>Grado y Grupo:</strong> 9A</p>
<hr>
<h1>Pasatiempos</h1>
<ul>
  @foreach (var x in @listaHobbies)
  {
    <li>@x</li>
  }
</ul>

<partial name="_EducacionUlises"/>